# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Data Files (VERY IMPORTANT)
# -------------------------
data/raw/
*.csv

# -------------------------
# Model Files (optional)
# -------------------------
models/*.pkl

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE / VS Code
# -------------------------
.vscode/